@font-face{
    font-family: edo;
  /*src: url(../fonts/_adult_swim_font__by_esteveztheart-dbj9by8.ttf);*/
    /*src: url(../fonts/Calligraphr-Regular.ttf);*/
  /*src: url(../fonts/get_schwifty__a_rick_and_morty_font_by_jonizaak-dajw4u8.ttf);*/
    src: url(../fonts/edosz.ttf); 
}
body{
    background: linear-gradient(0deg, rgba(0,0,0, .5), rgba(0,0,0,.5)),url(../images/dojo.background_edited4.png) no-repeat center center fixed;
    /*background: url(../images/dojo.background_edited4.png) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
label{
    font-family: 'BenchNine', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    color: black;
}
#add-giphy, button{
    font-family: 'BenchNine', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    color: #F4F4F4;
    background-color:rgba(182,53,47,.5);
}
.nav-wrapper{
        position:relative;
    }

 #giphy-form{
     position: absolute;
     bottom:0.625rem;
     right:3.125rem;
 }
h1{
    font-family:'edo', sans-serif;
    color: black;
    font-size:5rem;
    margin:0;
    padding:0.2%;
}
/*.giphy{
    
    margin:0 !important;
}*/
.if-button{
    margin-right:.5%;
    margin-bottom: 1.5rem;
}
p{
    font-family: 'BenchNine', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-left:1.5rem;
    
    margin-bottom: 0.3125rem;
    color: #F4F4F4;
}
button:hover, #add-giphy:hover{
    color: #944D3F;
    background-color: #F4F4F4;
}
.carousel-item > img{
    border: 1px solid #F4F4F4;
}

#gifs-appear-here, 
.carousel-inner,
.carousel-item,
.carousel-item > img{
 /*height : 600px;*/
 width: 350px;
 margin: 0 auto;
}
#gifs-appear-here{
    margin-top:125px;
}
/*.carousel-item > img{
   margin-left : -20px;
}*/